/*base classes*/
.left {
  float: left;
}
.right {
  float: right;
}
.block {
  display: block;
}
.none {
  display: none;
}
.tcenter {
  text-align: center;
}
.tleft {
  text-align: left;
}
.tright {
  text-align: right;
}
.rel {
  position: relative;
}
.abs {
  position: absolute;
}
.fix {
  position: fixed;
}
.clear:before,
.clear:after {
  content: "";
  display: block;
  width: 100%;
  clear: both;
}
.noselect {
  user-select: none;
}
.responsive {
  display: block;
  width: 100%;
  height: auto;
}
html {
  font: normal 500 10px "Trebuchet MS", Tahoma, Verdana, Arial, sans-serif;
}
body {
  font-size: 1.4rem;
}
body,
html {
  padding: 0;
  margin: 0;
  width: 0;
  height: 0;
}
a:visited,
a:link,
a a:hover,
a a:active {
  outline: none;
}
* {
  outline: none;
  box-sizing: border-box;
}
.container {
  max-width: 192rem;
  margin: 0 auto;
  overflow: hidden;
}
