# Created by .gitignore support plugin (hsz.mobi)
img
dist
node_modules
.idea

src/css/grid
src/css/font-awesome
src/css/sprites.less
src/css/*.css
src/js/venders/**/
src/css/sprites.css
src/htdocs/*.html

src/css/base.css
src/css/style.css
src/plugins/**
*.-compiled.js
src/css/hover/*
src/css/animate/*
src/css/animate/*
