# Created by .gitignore support plugin (hsz.mobi)
img
dist
node_modules
.idea
src/svg/*.svg

src/css/grid
src/css/bootstrap
src/css/font-awesome
src/css/normalize
src/css/sprites.less
src/js/venders/**/
src/css/sprites.css
src/images/sprites.png
src/fonts/*.less
src/fonts/*.css
src/fonts/*.eot
src/fonts/*.woff
src/htdocs/*.html

src/css/def.css
src/css/style.css
#src/plugins/**
