//
   Created by abaddon on 16.03.2016.
footer.footer
    script(src="../js/vendors/badIe.js", async)
    script(src="../js/vendors/jquery/jquery.min.js")
    script(src="../js/app.compile.js", async)