//
   Created by abaddon on 16.03.2016.
doctype html
head(lang="ru")
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="description", content="")
    meta(name="keywords", content="")
    link(rel="stylesheet", href="../css/style.css", type="text/css")
    title