//Created by abaddon on 16.03.2016.
include template/head.jade
body
    div.l-wrapper
        header.c-header
        main
            div.c-test
                | Привет мир!

    include template/footer.jade