//Created by abaddon on 16.03.2016.
include template/head.jade
body
    div.l-wrapper
        header.l-header
        main
            div.c-test
                | Привет мир!
            include ../images/svg/svg-symbols.svg
            svg.icon-close
                use(xlink:href="#icon-close")
            svg.icon-face
                use(xlink:href="#icon-face")

    include template/footer.jade