/*base classes*/
.left {
  float: left;
}
.right {
  float: right;
}
.block {
  display: block;
}
.none {
  display: none;
}
.tcenter {
  text-align: center;
}
.tleft {
  text-align: left;
}
.tright {
  text-align: right;
}
.justify {
  text-align: justify;
}
.justify:after {
  content: '';
  display: inline-block;
  width: 100%;
}
.rel {
  position: relative;
}
.abs {
  position: absolute;
}
.fix {
  position: fixed;
}
.clear:before,
.clear:after {
  content: "";
  display: block;
  width: 100%;
  clear: both;
}
.noselect {
  user-select: none;
}
.res {
  display: block;
  width: 100%;
  height: auto;
}
html {
  font-size: 10px;
}
body {
  font-size: 14px;
}
body,
html {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}
a:hover,
a:active {
  outline: none;
}
* {
  outline: none;
  box-sizing: border-box;
}
