/*!
 * Created by Abaddon (abaddongit@gmail.com)
 */
//@import "sprites.less";
//@import "normalize/normalize.css";
//@import "grid/grid.css";
//@import "../fonts/fonts.less";
@import "def.less";

/*------------------SPRITE ELEMENT CLASS GENERATOR------------*/
@site-sprite: one, two;
@sLength: length(@site-sprite);

.loop (@i) when (@i > 0) {
  @sp: extract(@site-sprite, @i);
  .sprite--@{sp} {
    //    .sprite(@@sp);
  }
  .loop(@i - 1);
}

.loop(@sLength);
/*-------------------END SPRITE CLASS GENERATORS------------------*/

/*---------------GENERATE COLOR CLASSES----------------*/
@white: #fff;
@black: #000;

@site-colors: white, black;
@length: length(@site-colors);

.c-loop (@index) when (@index > 0) {
  @col: extract(@site-colors, @index);
  .@{col} {
    color: @@col;
  }
  .c-loop(@index - 1);
}

.c-loop(@length);

.lazy {
  display: block;
}
/*------------------HEADER BLOCK------------------------*/

.header {
}

/*------------------END HEADER BLOCK------------------------*/

/*------------------MAIN BLOCK----------------------------*/

main {

}

/*------------------END MAIN BLOCK----------------------------*/

/*------------------FOOTER BLOCK----------------------------*/

.footer {
}

/*------------------END FOOTER BLOCK----------------------------*/