.icon-close {
  width: 51px;
  height: 51px;
}
.icon-close-1{fill:#272727;fill-rule:evenodd}

.icon-face {
  width: 42px;
  height: 41px;
}
.icon-face-1{fill:none;stroke:#c5a67a;stroke-width:1.5px}
.icon-face-2{font-size:34.171px;fill:#c5a67a;font-family:"Open Sans Semibold"}

